* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
/* Default Class*/
.min-width-example {
  background-color: turquoise;
  width: 100%;
  color: #333;
  font-family: helvetica;
  padding: 2rem;
  margin: 75px 0;
}
.flex-container-example {
  display: flex;
  /* row is default */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* no-wrap is default */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow is shorthand for flex-direction and flex-wrap */
  /* flex-flow: row-reverse wrap; */

  /* flex-wrap: wrap; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /*justify-content: space-between; */
  /*justify-content: space-evenly; */
  /* align-items: flex-end;*/
  /* align-items: center; */
  /* align-items: stretch; */
  /* align-items: baseline; */

  /* DEMO ALIGN CONTENT */
  /* flex-wrap: wrap;
  align-content: flex-start; */

  width: 100%;
  height: 400px;
  background-color: gold;
}
/* DEMO FLEX ITEM PROPERTIES */
.flex-item-example {
  width: 75px;
  height: 75px;
  background-color: darkorchid;
  color: oldlace;
  border: 3px solid darkslategrey;
}
.item-4 {
  order: 3;
}
.item-1 {
  order: 4;
}
/* ---------------------------------------------- */
/* Media Queries                                  */
/* ---------------------------------------------- */
/*First Break Point*/
@media all and (min-width: 576px) {
  .min-width-example {
    background-color: tomato;
  }
}
/*Second Break Point*/
@media all and (min-width: 768px) {
  .min-width-example {
    max-width: 1000px;
    margin: 75px auto;
    background-color: midnightblue;
    color: oldlace;
  }
}
