* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
/* Default Class*/
.min-width-example {
  background-color: turquoise;
  width: 100%;
  color: #333;
  font-family: helvetica;
  padding: 2rem;
}
/*First Break Point*/
@media all and (min-width: 576px) {
  .min-width-example {
    background-color: tomato;
  }
}
/*Second Break Point*/
@media all and (min-width: 768px) {
  .min-width-example {
    max-width: 1000px;
    margin: 0 auto;
    background-color: midnightblue;
    color: oldlace;
  }
}
